.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .item-card {
    max-width: 80%;
    min-width: 80%;
  }
  
  mat-card {
    margin-bottom: 25px;
  }
  
  mat-form-field {
    padding: 10px;
  }
  
  mat-card-actions {
    margin-bottom: -25px;
  }
  
  .btnSend {
    position: absolute;
    right: 5%;
    top: 30%
  }
  
  .title {
    min-width: 24%;
  }
  
  .body {
    min-width: 24%;
  }
  
  .email {
    min-width: 24%;
  }