<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>BLOG GIRLS TECH</mat-card-title>
        <mat-card-subtitle>
            <!-- <input time="false" date="true" mdc-datetime-picker="" type="text" id="date" placeholder="Date"
            ng-model="date" min-date="minDate" max-date="maxDate" class=" md-input" readonly="readonly">

            <input mdc-datetime-picker="" date="false" time="true" type="text" id="time" short-time="true"
            placeholder="Time" min-date="minDate" format="hh:mm a" ng-model="time" class=" md-input"
            readonly="readonly"> -->
            2019/10/13
            10:29 am
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card-title>Lorem ipsum</mat-card-title>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer maximus orci in massa euismod, bibendum vehicula eros imperdiet. Maecenas libero eros, eleifend nec auctor cursus, faucibus sed leo. Nullam consectetur enim fringilla libero porttitor, nec dapibus arcu condimentum. Etiam vestibulum interdum eros vel rhoncus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas molestie, augue a mollis scelerisque, ipsum lacus consequat justo, nec consequat nisl ligula at neque. Donec aliquam nisi eu dolor bibendum, non volutpat ipsum venenatis. In lobortis vulputate tortor non finibus. In ultrices nulla ac mi auctor ultrices. Curabitur ut facilisis nulla, quis pulvinar metus.
        </p>
        <input matInput placeholder="Comentarios">
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Comment</button>
    </mat-card-actions>
</mat-card>



