<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar><img src="assets/logo.png" width="180px"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/new-post" routerLinkActive="active">New Post</a>
      <a mat-list-item routerLink="/new-user" routerLinkActive="active">New User</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>BLOG GIRLS TECH</span>
    </mat-toolbar>
    <div class="container">
   <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
