
.title-blog{
    color:  #ff3860;
    position: absolute;
    top: 4%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.subtitle-blog{
    color:  #ff3860;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.menu-blog{
    position: absolute;
    top: 32%;
    left: 35%;
}

.formato-posts{
    padding-top: 8%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 8%;
}

.new-post{
    position: absolute;
    top: 26%;
    left: 50%;
}

.search{
    position: absolute;
    width: 13%;
    border: solid black 1px;
    top: 27%;
    left: 30%;
}

  