
.title-blog{
    color:  #ff3860;
    position: absolute;
    top: 4%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.subtitle-blog{
    color:  #ff3860;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.menu-blog{
    position: absolute;
    top: 30%;
    left: 35%;
    margin-right: -50%;
    transform: translate(-50%, -50%) */
}

  