<div>
    <mat-card class="example-card">
        <h1>Register</h1>
        <mat-card-content>
            <input matInput  class="dados" placeholder="Full name">
        </mat-card-content>
        <mat-card-content>
            <input matInput  class="dados" placeholder="Username">
        </mat-card-content>
        <mat-card-content>
            <input matInput  class="dados" placeholder="Email">
        </mat-card-content>
        <mat-card-content>
            <input matInput  class="dados" placeholder="Password">
        </mat-card-content>
        <mat-card-content>
            <input matInput  class="dados" placeholder="Confirm Password">
        </mat-card-content>
        <mat-card-actions class="botton-login">
            <button mat-button >Register</button>
        </mat-card-actions>
    </mat-card>
</div>

