.example-card{
    color:  #ff3860;
    height: 350px;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

.dados{
    float:left;
}
.botton-login{
    margin-left: 120px;
}
h1{
    padding-left: 100px;
    padding-right: 100px;
}
