.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  
  .item-card {
    max-width: 80%;
    min-width: 80%;
    margin-bottom: 25px;
  }
  
  mat-form-field {
    padding: 10px;
  }
  
  .btnSend {
    left: 6%;
  }
  
  .title {
    min-width: 42%;
  }
  
  .users {
    min-width: 42%;
  }
  
  .body {
    margin-left: 4%;
    min-width: 87%;
  }