.example-card{
    color:  #ff3860;
    max-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

.botton-login{
    margin-left: 120px;
}
h1{
    padding-right: 20px;
    padding-left: 20px;
}

/* colour changes to the bulma framework */
a {
    color: #ff3860;
    text-decoration: none;
    cursor: pointer;
    font-size: 10pt;
    margin-left: 40px;
}
