<div>
    <mat-card class="example-card">
        <h1>BLOG GIRLS TECH</h1>
        <mat-card-content class="input">
            <input matInput placeholder="User">
        </mat-card-content>
        <mat-card-content class="input">
            <input matInput placeholder="Password">
        </mat-card-content>
        <mat-card-actions class="botton-login">
            <button mat-button >Login</button>
        </mat-card-actions>
        <a href="">Not have an account yet? Sign up here</a>
    </mat-card>
</div>

