.container {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .item-card {
    max-width: 500px;
    margin: 15px;
  }
  
  mat-card-content {
    max-height: 100px;
    overflow: hidden;
  }
  
  .button {
    display: flex;
    justify-content: center;
    margin-bottom: 10px !important;
  }
  
  .button-end {
    position: absolute;
    right: 5%;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .mat-flat-button {
    margin-left: 5px;
  }


  .efeito {
    display: inline-block;
    margin-left: 40%;
    border-radius: 50%;
    background: #808080;
    padding-right: 25px;
  }
 

  .ngx-pagination {
    color: white;
  }
  .formato{
    margin-bottom: 20px;
  }